<!doctype html>
<html lang="fr">
  <head>
    <title>Absences COGE</title> 
    <meta charset="UTF-8"/>
    <meta name="application-name" content="Absence"/>
    <meta name="author" content="François Lonc"/>
    <meta name="description" content="Pour vérifier les absences"/>
    <base href="http://localhost:9001"/>
  </head>
  <body>
    <form method="post" action="date">
    <label for="day">Jour de répétition:<label/>
    <input type="date" name="day" min="2013-10-25"/>
    <input type="submit"/>
    </form>
  </body>
</html>
